force-app/main/default/flows/sample_survey_with_no_attachment_question_type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ebdcb123_e850_4cf9_9f43_0c49f4a4a2a2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank0&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank1&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank2&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank3&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank4&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank4}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank5&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank5}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank6&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank6}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank7&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank7}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank8&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank8}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank9&quot;,&quot;rankText&quot;:&quot;{!q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank9}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0f013ff7_cfc2_4134_9895_f17b85dc34e2</name>
        <choiceText>Orange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orange</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_117f69f6_5f7b_428c_aa0f_ecdf31d53327</name>
        <choiceText>Green</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Green</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1e4a3a9f_11e5_4142_9f3f_a615f36add6c</name>
        <choiceText>Indigo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Indigo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_24b92502_5174_4f2e_ad6b_e4a102064253</name>
        <choiceText>Red</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Red</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_28d2463c_9423_4612_96bb_19ac9d247c19</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_335168a4_1841_4150_bb6f_1ff8482a39df</name>
        <choiceText>True</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f6e8a24_a96d_4287_951e_683206feef54</name>
        <choiceText>Violet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Violet</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62f25536_4b44_41af_a4f8_20929176fe7d</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7c42e9a5_13db_449e_952f_1e3628d0638f</name>
        <choiceText>I will not go</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I will not go</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94e978f7_23b0_4314_861d_e79919379ac4</name>
        <choiceText>Yellow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yellow</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9bb2f05f_0b99_4aa6_8fb8_3cfa14ced7eb</name>
        <choiceText>Blue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Blue</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6a46993_f6a7_4f65_afc4_2040bc927987</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a9a393e2_c9b8_4625_93ee_e8ab1ae16e67</name>
        <choiceText>I will go</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I will go</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa126957_1f56_44bc_a5dc_2233eb3c3680</name>
        <choiceText>Don&apos;t know</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Don&apos;t know</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b18cd4b6_0e17_4d5c_a196_fdb41fa28906</name>
        <choiceText>May Be</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May Be</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d3a4509e_28a2_41b1_a8f1_cc2995d8bddc</name>
        <choiceText>False</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d7bac181_9d1d_44ca_a964_ac14ef683b73</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dbbc2c99_e831_4606_8608_763e7122a46d</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Sample Survey with NO Attachment Question Type</interviewLabel>
    <label>Sample Survey with NO Attachment Question Type</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>p_ebdcb123_e850_4cf9_9f43_0c49f4a4a2a2</name>
        <label>Different Survey Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_feead5bd_efa7_44dc_81f8_be423e691843</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;What is your Date of Birth?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Date - This question type allows users to select a date.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a1cbb85a_10dd_416b_94ed_11b6195b490b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a1cbb85a_10dd_416b_94ed_11b6195b490b</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Salesforce Feedback Management is Cool.  What say?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Like or Dislike - This question type allows users to select whether they like something or not.  Survey Creators can select an icon pair from a set of 3, for this question type.  They include Like or Dislike, Happy or Unhappy, Yes or No.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ddeab984_37b1_4a63_b355_299609cd360a</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tell us about your experience so far.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Long Text - This question type allows users to submit their feedback as free text.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8</name>
            <extensionName>survey:runtimeMatrix</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tell us about the languages you can speak, read and write.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!q_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!q_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionType</name>
                <value>
                    <stringValue>Matrix</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>config</name>
                <value>
                    <apexValue>{&quot;question0&quot;:{&quot;label&quot;:&quot;What languages can you Speak?&quot;,&quot;name&quot;:&quot;q_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_0&quot;},&quot;question1&quot;:{&quot;label&quot;:&quot;Can you Read &amp; Write the above language?&quot;,&quot;name&quot;:&quot;q_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_2&quot;},&quot;columnNames&quot;:[{&quot;label&quot;:&quot;English&quot;,&quot;value&quot;:&quot;English&quot;,&quot;name&quot;:&quot;c_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_0&quot;},{&quot;label&quot;:&quot;Spanish&quot;,&quot;value&quot;:&quot;Spanish&quot;,&quot;name&quot;:&quot;c_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_1&quot;},{&quot;label&quot;:&quot;Chinese&quot;,&quot;value&quot;:&quot;Chinese&quot;,&quot;name&quot;:&quot;c_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_2&quot;},{&quot;label&quot;:&quot;French&quot;,&quot;value&quot;:&quot;French&quot;,&quot;name&quot;:&quot;c_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_3&quot;},{&quot;label&quot;:&quot;German&quot;,&quot;value&quot;:&quot;German&quot;,&quot;name&quot;:&quot;c_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_4&quot;},{&quot;label&quot;:&quot;Hindi&quot;,&quot;value&quot;:&quot;Hindi&quot;,&quot;name&quot;:&quot;c_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_5&quot;}],&quot;numberOfQuestionsConfigured&quot;:2,&quot;childQuestionType&quot;:&quot;MultiChoice&quot;}</apexValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <apexValue>{}</apexValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd</name>
            <extensionName>survey:runtimeMatrix</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;If given an option, which languages would you prefer learning.  Select your preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>questionType</name>
                <value>
                    <stringValue>Matrix</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>config</name>
                <value>
                    <apexValue>{&quot;question0&quot;:{&quot;label&quot;:&quot;English&quot;,&quot;name&quot;:&quot;q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_0&quot;},&quot;question1&quot;:{&quot;label&quot;:&quot;Spanish&quot;,&quot;name&quot;:&quot;q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_1&quot;},&quot;question2&quot;:{&quot;label&quot;:&quot;Chinese&quot;,&quot;name&quot;:&quot;q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_2&quot;},&quot;question3&quot;:{&quot;label&quot;:&quot;French&quot;,&quot;name&quot;:&quot;q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_3&quot;},&quot;question4&quot;:{&quot;label&quot;:&quot;German&quot;,&quot;name&quot;:&quot;q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_4&quot;},&quot;question5&quot;:{&quot;label&quot;:&quot;Hindi&quot;,&quot;name&quot;:&quot;q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_5&quot;},&quot;columnNames&quot;:[{&quot;label&quot;:&quot;Choice 1&quot;,&quot;value&quot;:&quot;Choice 1&quot;,&quot;name&quot;:&quot;c_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_0&quot;},{&quot;label&quot;:&quot;Choice 2&quot;,&quot;value&quot;:&quot;Choice 2&quot;,&quot;name&quot;:&quot;c_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_1&quot;},{&quot;label&quot;:&quot;Choice 3&quot;,&quot;value&quot;:&quot;Choice 3&quot;,&quot;name&quot;:&quot;c_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_2&quot;},{&quot;label&quot;:&quot;Choice 4&quot;,&quot;value&quot;:&quot;Choice 4&quot;,&quot;name&quot;:&quot;c_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_3&quot;},{&quot;label&quot;:&quot;Choice 5&quot;,&quot;value&quot;:&quot;Choice 5&quot;,&quot;name&quot;:&quot;c_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_4&quot;},{&quot;label&quot;:&quot;Choice 6&quot;,&quot;value&quot;:&quot;Choice 6&quot;,&quot;name&quot;:&quot;c_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_5&quot;}],&quot;numberOfQuestionsConfigured&quot;:6,&quot;childQuestionType&quot;:&quot;RadioButton&quot;}</apexValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <apexValue>{}</apexValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_da15f9da_04dd_4c22_bcdf_7e641079d870</name>
            <choiceReferences>c_3f6e8a24_a96d_4287_951e_683206feef54</choiceReferences>
            <choiceReferences>c_1e4a3a9f_11e5_4142_9f3f_a615f36add6c</choiceReferences>
            <choiceReferences>c_9bb2f05f_0b99_4aa6_8fb8_3cfa14ced7eb</choiceReferences>
            <choiceReferences>c_117f69f6_5f7b_428c_aa0f_ecdf31d53327</choiceReferences>
            <choiceReferences>c_94e978f7_23b0_4314_861d_e79919379ac4</choiceReferences>
            <choiceReferences>c_0f013ff7_cfc2_4134_9895_f17b85dc34e2</choiceReferences>
            <choiceReferences>c_24b92502_5174_4f2e_ad6b_e4a102064253</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;What colors do you like?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Multiple Selection - This question type allows users to select multiple answers from a list of choices.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_fef9e365_731a_405d_87c3_7c35b1b0356a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_fef9e365_731a_405d_87c3_7c35b1b0356a</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How likely will you recommend Salesforce to a friend or colleague?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Net Promoter Score® (NPS®) - This question type allows users to score and express how willing they’re to recommend a product or a service. Survey Creators can toggle the Color Code Responses to remove color-coding of the response.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0c2be3ca_76f0_4115_ba88_f153a26ae78c</name>
            <choiceReferences>c_a9a393e2_c9b8_4625_93ee_e8ab1ae16e67</choiceReferences>
            <choiceReferences>c_7c42e9a5_13db_449e_952f_1e3628d0638f</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;If given a Free ride, would you prefer attending Dreamforce this year?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Picklist - This question type allows users to select an answer from a predefined list of options. Salesforce stores picklist options as strings.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[&quot;10&quot;,&quot;9&quot;,&quot;8&quot;,&quot;7&quot;,&quot;6&quot;,&quot;5&quot;,&quot;4&quot;,&quot;3&quot;,&quot;2&quot;,&quot;1&quot;]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How do you rank the Airports near to you? (Enter values 1-10, 1 being the closest, 10 for the farthest, etc.)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Ranking - This question type lets user rank among two or more items. Survey Creators can enter a weight for each rank. The weights are used to rank the final rank.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_18e37525_6baf_42b6_b29c_290208f7e64d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_18e37525_6baf_42b6_b29c_290208f7e64d</name>
            <choiceReferences>c_28d2463c_9423_4612_96bb_19ac9d247c19</choiceReferences>
            <choiceReferences>c_dbbc2c99_e831_4606_8608_763e7122a46d</choiceReferences>
            <choiceReferences>c_a6a46993_f6a7_4f65_afc4_2040bc927987</choiceReferences>
            <choiceReferences>c_62f25536_4b44_41af_a4f8_20929176fe7d</choiceReferences>
            <choiceReferences>c_d7bac181_9d1d_44ca_a964_ac14ef683b73</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How would you rate your understanding of the Feedback Management question types so far?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Rating - This question type lets user select a rating from a scale.  Survey Creators have the option to change the rating scale from 1 to 10 (stars)</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_e85f47d9_3044_426f_ab42_9929af4febde_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e85f47d9_3044_426f_ab42_9929af4febde</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Hoping you are reading through the question explanation - How would you score the language used?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Score - This question type lets user to select a satisfaction score from a list of numbers.  Survey Creators have the option to change the rating scale from 1 to 10 (stars)</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[0-9]*</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d3148b28_6289_4135_b155_d2bb527054ab</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How Old are you when you responded to this Survey?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Short Text (Number) - This question type lets user to enter a number.  Survey Creators have the option to select the &apos;Response Validation Type&apos;.  Either leave it with no validation, Number or Custom.  This is an example for a Number.</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_d3148b28_6289_4135_b155_d2bb527054ab},&quot;[0-9]*&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f0709e90_f40c_4c97_95c1_6607cc203622</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;Enter your email address&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Short Text (Custom) - This question type lets user to text answer of up to 200 characters.  Survey Creators have the option to select the &apos;Response Validation Type&apos;.  Either leave it with no validation, Number or Custom.  This is an example of Custom.</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_f0709e90_f40c_4c97_95c1_6607cc203622},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e98a8488_1709_4823_997a_703ee57fcbf1</name>
            <choiceReferences>c_335168a4_1841_4150_bb6f_1ff8482a39df</choiceReferences>
            <choiceReferences>c_d3a4509e_28a2_41b1_a8f1_cc2995d8bddc</choiceReferences>
            <choiceReferences>c_b18cd4b6_0e17_4d5c_a196_fdb41fa28906</choiceReferences>
            <choiceReferences>c_aa126957_1f56_44bc_a5dc_2233eb3c3680</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Single Selection -&amp;nbsp;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Single Selection - This question type lets user to select only one answer from a list of choices.  Survey Creators have the option to add more choices.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>1000</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </processMetadataValues>
            <name>q_059f9931_59fa_4505_9594_a8bacdbac048</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How much budget will be required for your hotel stays for 3 days in San Francisco?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Slider - This question type lets user to select a value on a sliding scale.  Survey Creators have the option to set the maximum value upto 999,999,999 and also mention the intervals to use in between.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_ebdcb123_e850_4cf9_9f43_0c49f4a4a2a2</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>San Jose</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Los Angeles</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Chicago</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dallas</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>New York</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank5</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>London</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank6</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Paris</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank7</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Mumbai</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank8</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hyderabad</text>
    </textTemplates>
    <textTemplates>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank9</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Pune</text>
    </textTemplates>
    <textTemplates>
        <name>q_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Matrix - This question type allows users to select multiple choices (upto 10) for a single question.  You can have upto 10 questions in this Matrix here.</text>
    </textTemplates>
    <textTemplates>
        <name>q_712d10c1_31a6_4f7c_8caf_1d5d0f79aae8_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Tell us about the languages you can speak, read and write.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Matrix - This question type allows users to select single choices (upto 10) for a single question.  You can have upto 10 questions in this Matrix here.</text>
    </textTemplates>
    <textTemplates>
        <name>q_9ffd7d83_9fe6_4451_a86e_93a1bd701fdd_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;If given an option, which languages would you prefer learning.  Select your preferences&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you for taking the time to understand the Question Types offered by Salesforce Feedback Management.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please take it easy on the questions - they are just samples.  However look at the text below each question that explains the question type used.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Explore the different Survey Type Questions possible OOTB with Salesforce Feedback Management&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_7045921d_5c9a_4018_9ff6_022b0ae05c7e_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_18e37525_6baf_42b6_b29c_290208f7e64d_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a1cbb85a_10dd_416b_94ed_11b6195b490b_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_e85f47d9_3044_426f_ab42_9929af4febde_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_fef9e365_731a_405d_87c3_7c35b1b0356a_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
