force-app/main/default/flows/sample_customized_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ebdcb123_e850_4cf9_9f43_0c49f4a4a2a2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_ad73524a_dbdf_469a_a5f8_91a86f423d2b</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_60fefb74_9e64_4f43_aae7_b0fc63822102</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>thankYouCustomSectionAssignment1</name>
        <label>thankYouCustomSectionAssignment1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>thankYouLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouLabelTextTemplate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouDescriptionTextTemplate1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaText0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaTextTextTemplate10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaUrl0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaUrlInternalVar10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaText1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaTextTextTemplate11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaUrl1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaUrlInternalVar11</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>thankYouDefaultSectionAssignment</name>
        <label>thankYouDefaultSectionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>thankYouLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouLabelTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouDescriptionTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouRedirectUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouRedirectUrlInternalVar0</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>c_20317b38_7bf1_4154_9bcf_b1af2a06bf36</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_32d4ab21_0292_4bd7_9612_3fe347e6b7b5</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f19c927_0b73_477b_8f39_1cfeb94c2881</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_58c7fe25_f3f0_4b3c_a686_9e2358265c83</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6b94531a_523b_4e51_8f5b_95edefebab4c</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_83f11f26_1e8c_4e15_9aa7_e02c9680fffe</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_acd7bbf3_6232_4eb2_898a_4e4942ad35f8</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ebb45f66_6084_4c1b_9167_d849996c6a19</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f7ee8b13_1ca7_4aaa_9517_0f3cec3582fd</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_7cec3938_5b32_4018_93e2_1656395f833e</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_60fefb74_9e64_4f43_aae7_b0fc63822102</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_50d9615a_0305_4ce8_8bf7_a6417b5da26d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Rating</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_8f7fdcac_f794_4385_9067_1138eae4b491</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>c_3f19c927_0b73_477b_8f39_1cfeb94c2881</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>thankYouDecisionAfterAllNodes</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_a10f660f_ec5e_4991_aa36_db1fae36253e</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_ad73524a_dbdf_469a_a5f8_91a86f423d2b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_0b95f72d_fe4d_4781_bfc6_cd58c1301935</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a1cbb85a_10dd_416b_94ed_11b6195b490b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_ad73524a_dbdf_469a_a5f8_91a86f423d2b</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_a9ba381d_3d9c_4531_aa6a_f9bd77756a2f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a1cbb85a_10dd_416b_94ed_11b6195b490b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_60fefb74_9e64_4f43_aae7_b0fc63822102</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>thankYouDecisionAfterAllNodes</name>
        <label>Thank You Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>thankYouDefaultSectionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>thankYouPageRule1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a1cbb85a_10dd_416b_94ed_11b6195b490b</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_e66040f1_21d2_402e_92ca_4c5887e469f7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_ebb45f66_6084_4c1b_9167_d849996c6a19</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>thankYouCustomSectionAssignment1</targetReference>
            </connector>
            <label>thankYouPageRule1</label>
        </rules>
    </decisions>
    <interviewLabel>Sample Customized Survey</interviewLabel>
    <label>Sample Customized Survey</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_sample_customized_survey_2_4939510d_d175_4533_ada4_d14dca19c190</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>p_60fefb74_9e64_4f43_aae7_b0fc63822102</name>
        <label>Negative Feedback Route</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previous Page</backButtonLabel>
        <connector>
            <targetReference>thankYouDecisionAfterAllNodes</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e5af0f00_1173_46ec_b8f3_627b76687e17</name>
            <choiceReferences>c_acd7bbf3_6232_4eb2_898a_4e4942ad35f8</choiceReferences>
            <choiceReferences>c_20317b38_7bf1_4154_9bcf_b1af2a06bf36</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;We will try to reach out to you on or before {!q_18585601_1679_4c05_97ae_8a1ddeeba358}. Meanwhile did you try reaching out to the customer support for help?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>You are seeing this page since your feedback has been negative earlier.  Notice we copied the date you provided in the question on the previous page.  

This is possible using the &quot;Insert a response from one of the previous questions&quot; feature.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e66040f1_21d2_402e_92ca_4c5887e469f7</name>
            <choiceReferences>c_32d4ab21_0292_4bd7_9612_3fe347e6b7b5</choiceReferences>
            <choiceReferences>c_ebb45f66_6084_4c1b_9167_d849996c6a19</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Did the Support Rep solve your issue?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Even here we used Display logic to show this question, based on the response earlier as &apos;Yes&apos;.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_e5af0f00_1173_46ec_b8f3_627b76687e17</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_acd7bbf3_6232_4eb2_898a_4e4942ad35f8</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bef04a10_a1bc_4aaa_b8b4_e3ab96d5fd5e</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter your email address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>We have a validation here to check the text entered is an email address.  You will not be able to move forward if the text entered is not in the format of an email address.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_bef04a10_a1bc_4aaa_b8b4_e3ab96d5fd5e},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Complete Survey</nextOrFinishButtonLabel>
        <pauseButtonLabel>Save Survey</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ad73524a_dbdf_469a_a5f8_91a86f423d2b</name>
        <label>Positive Feedback Route</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previous Page</backButtonLabel>
        <connector>
            <targetReference>d_7cec3938_5b32_4018_93e2_1656395f833e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8f7fdcac_f794_4385_9067_1138eae4b491_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_8f7fdcac_f794_4385_9067_1138eae4b491</name>
            <choiceReferences>c_3f19c927_0b73_477b_8f39_1cfeb94c2881</choiceReferences>
            <choiceReferences>c_83f11f26_1e8c_4e15_9aa7_e02c9680fffe</choiceReferences>
            <choiceReferences>c_58c7fe25_f3f0_4b3c_a686_9e2358265c83</choiceReferences>
            <choiceReferences>c_6b94531a_523b_4e51_8f5b_95edefebab4c</choiceReferences>
            <choiceReferences>c_f7ee8b13_1ca7_4aaa_9517_0f3cec3582fd</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;We appreciate you like Feedback Management Product&lt;/strong&gt;.&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Based on your feedback, how do you rate the documentation offered by Salesforce?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>You are seeing this Page since your mentioned Salesforce Feedback Management is Cool.  A rating of 3 or above will give a different experience.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_77367bae_5051_412f_abdf_d7a6819279c8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_77367bae_5051_412f_abdf_d7a6819279c8</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;How likely will you recommend the product to a friend?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Auto-Progress feature is enabled under the &quot;Branding&quot; Tab, so you will be redirected to the next page immediately after you select a score below.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_8f7fdcac_f794_4385_9067_1138eae4b491</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <elementReference>c_58c7fe25_f3f0_4b3c_a686_9e2358265c83</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next Page</nextOrFinishButtonLabel>
        <pauseButtonLabel>Save Survey</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ebdcb123_e850_4cf9_9f43_0c49f4a4a2a2</name>
        <label>Show Question Based on Response to Previous Question</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previous Page</backButtonLabel>
        <connector>
            <targetReference>d_a10f660f_ec5e_4991_aa36_db1fae36253e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a1cbb85a_10dd_416b_94ed_11b6195b490b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a1cbb85a_10dd_416b_94ed_11b6195b490b</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Salesforce Feedback Management is Cool.  What say?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Selecting &apos;No&apos; here - will prompt you to share your experience by showing additional fields.  
If you select &apos;Yes&apos;, those additional fields will NOT be shown.  

Try this survey a few times by selecting different response options.

This page also has a branching logic taking you to different pages next, based on the selection of response here. (You can check out the configuration of this Survey using the Survey Builder).</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ddeab984_37b1_4a63_b355_299609cd360a</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tell us why you think Salesforce Feedback Management is NOT cool.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>We have used &apos;Display Logic&apos; to show this question based on the response you selected in the Previous question.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_a1cbb85a_10dd_416b_94ed_11b6195b490b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_18585601_1679_4c05_97ae_8a1ddeeba358</name>
            <dataType>Date</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;When is a good time to reach out to you to discuss further?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>We have used &apos;Display Logic&apos; to show this question based on the response you selected (as No) in the Previous question.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_a1cbb85a_10dd_416b_94ed_11b6195b490b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next Page</nextOrFinishButtonLabel>
        <pauseButtonLabel>Save Survey</pauseButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_ebdcb123_e850_4cf9_9f43_0c49f4a4a2a2</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next Page</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_a1cbb85a_10dd_416b_94ed_11b6195b490b_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Yes</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate10</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>SFM Documentation</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate11</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>SFM Trailhead</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is default message and is shown to positive feedback responses.  The page is customized to redirect you in 5 seconds.</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is a custom message and is being displayed for your negative feedback earlier.  Also the page is customized to show 2 url-buttons at the bottom.

Notice we are showing your email address in the message above, which you entered in the previous page.  This is made possible by using the &apos;Insert Content&apos; feature that allows us to Insert responses from Previous questions.</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you for a wonderful response.  Checkout our product pricing information.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Thank you for taking the time to answer the Survey! We will try to reach out to you at {!q_bef04a10_a1bc_4aaa_b8b4_e3ab96d5fd5e}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Since you did NOT find what you were looking for so far, meanwhile check out resources below.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The branding of the survey can be updated using the Branding Tab in the Survey Builder</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Notice the branding changes done to this survey. It looks different from the regular Standard Survey you get by default. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customizations include&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;A new Logo &lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Background of the Logo&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Background of the Survey&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Progress bar on the top&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;changes to the language used on the buttons&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Click on the &apos;Next Page&apos; button to explore more.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrlInternalVar10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://help.salesforce.com/s/articleView?id=sf.concept_salesforce_surveys.htm&amp;type=5</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaUrlInternalVar11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://trailhead.salesforce.com/content/learn/trails/get-started-with-salesforce-surveys</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouRedirectUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouRedirectUrlInternalVar0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://www.salesforce.com/products/platform/products/feedback-management/</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_77367bae_5051_412f_abdf_d7a6819279c8_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_8f7fdcac_f794_4385_9067_1138eae4b491_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a1cbb85a_10dd_416b_94ed_11b6195b490b_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
